__pycache__/AdvectionDiffusion1D.cpython-36.pyc
*.pyc
DELETE.py
*.aux
TeX-Document/Matrix-free Leja based exponential integrators in Python.log
*.gz
DELETE2.py
Testing_gmres_preconditioner.py
Resources/PecletNumber.pdf
Resources/Transport (peclet number).pdf
Resources/Versteeg_Malalasekera_2ed.pdf
DELETE3.py

HDF5-Files - Copy/Experiment1.h5
HDF5-Files - Copy/Experiment1LinOp.h5
HDF5-Files - Copy/Experiment2.h5
HDF5-Files/Experiment2 - nosubstepping.h5
deleterino.py
gpu_test.py
HDF5-Files - Copy/Experiment2 - nosubstepping.h5
HDF5-Files - Copy/Experiment_2D.h5
untitled0.py
untitled1.py